/*
!custom-data
!web-demo
!report

web-demo/*
!web-demo/install.sh
!web-demo/*.py
!web-demo/templates
!web-demo/static

web-demo/static/*
!web-demo/static/train
!web-demo/static/styles

!utils

utils/*
!utils/*.py

report/*
!report.tex
