{% extends "index.html" %}
{% block detected %}
	{% if not isNewUpload %}
	<p> You didn't upload new image. Using last uploaded image.</p>
	{% endif %}
	<div>
		{% if model == "original-model" %}
			<p> Yolov4-Tiny detected {{numObjects}} objects</p>
		{% else %}
			<p> Custom model detected {{numObjects}} objects</p>
		{% endif %}
			
		<div id='result-section'>
			<span>
				<ul>
					{% for obj in listObjects %}
					<li> {{obj[0]}}: {{obj[1]}}%</li>
					{% endfor %}
				</ul>
			</span>
			<span>	<img src="static/predictions.jpg" height="500"> </span>

		</div>
{% endblock %}
