{% extends "base.html" %}
{% block models_info %}
<div>
	<h2> Original Model </h2>
	<p> This is the pretrained <a href="https://github.com/AlexeyAB/darknet#pre-trained-models">yolov4-tiny</a> model trained on MS COCO dataset</p>
	<h2> Custom Model </h2>
	<p> This is the cutom model finetuned from the original yolov4-tiny to detect 5 animals: cheetah, chimpanzee, hog deer, lion, sun bear. </p>
	<p> The number of images in the training, validation, and test set are 1569, 314, 210</p>
	<div>
		<p>Here are some images from the training set</p>
		{% for image in trainImages %}
			<img src="../static/train/{{image}}">
		{% endfor %}
	</div>
</div>
{% endblock %}
